.container {
  /* background-color: rgb(243, 247, 247); */
  margin: 0 !important;
}

.row {
  justify-content: space-around;
  padding: 30px 100px;
  background-color: rgb(245, 248, 248);
  margin: 0;
}

.sideRight {
  font-family: Nunito Sans;
  margin: 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  background: white;
  padding: 50px;
}

.sideRight h1 {
  font-weight: bold;
  font-size: 18px;
  color: #3a3d42;
}

.sideRight p {
  font-size: 16px;
  color: #7a7886;
}

.sideRight form {
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.sideRight form input {
  margin-bottom: 30px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
  padding: 10px 30px;
}

.sideRight form input::placeholder {
  font-size: 16px;
  color: rgba(169, 169, 169, 0.8);
}

.sideRight form button {
  background: #6379f4;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}
