.container {
  box-sizing: border-box;
}

.colLeft,
.colRight {
  border: black solid 1px;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.colLeft {
  background-color: #6379f4;
}

.colRight {
  padding: 80px;
}

.colRight h2 {
  font-weight: bold;
  font-size: 24px;
}

.colRight h6 {
  color: rgba(58, 61, 66, 0.6);
  font-size: 16px;
}

.colRight h4 {
  color: rgba(58, 61, 66, 0.8);
  font-weight: 600;
  font-size: 14px;
}

.colRight button {
  width: 100%;
  background-color: #6379f4;
}

.colRight h1 {
  font-size: 16px;
  text-align: center;
  color: rgba(58, 61, 66, 0.8);
}
.colRight h1 label {
  color: #6379f4;
}
