.container {
  height: 100vh;
  margin: 0 !important;
}

.row {
  justify-content: space-around;
  padding: 30px 100px;
  background-color: rgb(245, 248, 248);
  margin: 0;
}

.sideLeft,
.sideRight {
  font-family: Nunito Sans;
  margin: 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  background: #ffffff;
}

.sideRight {
  padding: 40px 50px;
}

.sideRight h5 {
  font-weight: bold;
  font-size: 18px;
  color: #3a3d42;
}

.sideRight input {
  outline: none;
  width: 100%;
  margin: 20px 0;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  padding: 10px 30px;
  border: none;
}

.sideRight .outputSearch {
  display: flex;
  align-items: center;
  /* border: black solid 1px; */
  padding: 20px 0;
}

.outputSearch img {
  width: 60px;
  height: 60px;
  background-blend-mode: normal;
  border-radius: 10px;
  margin-right: 30px;
}

.outputSearch .col {
  display: flex;
  flex-direction: column;
}

.outputSearch text {
  font-weight: bold;
  font-size: 18px;
  color: #4d4b57;
}

.outputSearch label {
  font-size: 16px;
  color: #7a7886;
}

.inputAmount {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.inputAmount .col {
  display: flex;
  flex-direction: column;
}

.inputAmount img {
  width: 60px;
  height: 60px;
  background-blend-mode: normal;
  border-radius: 10px;
  margin-right: 30px;
}

.sideRight h3 {
  font-size: 16px;
  color: #7a7886;
}

.inputMoney {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputMoney input[type="text"] {
  width: 100%;
  background-color: white;
  border-bottom: black solid 1px;
  border-radius: 0;
}

.inputMoney input[type="number"]::-webkit-inner-spin-button,
.inputMoney input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputMoney .number {
  text-align: center;
  background-color: white;
  font-size: 40px;
  width: 100%;
}

.inputMoney .number::placeholder {
  text-align: center;
}

.sideRight .button {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.button button {
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  border: none;
  padding: 10px 50px;
}

@media only screen and (max-width: 768px) {
  .row {
    padding: 20px 0;
  }

  .inputMoney input[type="text"] {
    width: 100%;
  }
}
